In [1]:
import pandas as pd

In [3]:
#Creating dataframe using list

list=['Name','Age','DOB','Gender']
ls=pd.DataFrame(list)
print(ls)

        0
0    Name
1     Age
2     DOB
3  Gender

In [6]:
#Creating dataframe using dict

Dict={'Name':['Alsaba','Atif','Gafoor','Razia'],'Age':['20','17','47','45'],'DOB':['1st','27th','20th','9th'],'Gender':['F','M','M','F']}
ls=pd.DataFrame(Dict)
print(ls)

     Name Age   DOB Gender
0  Alsaba  20   1st      F
1    Atif  17  27th      M
2  Gafoor  47  20th      M
3   Razia  45   9th      F

In [8]:
# Column Selection 

Dict={'Name':['Alsaba','Atif','Gafoor','Razia'],'Age':['20','17','47','45'],'DOB':['1st','27th','20th','9th'],'Gender':['F','M','M','F']}
ls=pd.DataFrame(Dict)
print(ls)

print(ls[['Name','Gender']])

     Name Age   DOB Gender
0  Alsaba  20   1st      F
1    Atif  17  27th      M
2  Gafoor  47  20th      M
3   Razia  45   9th      F
     Name Gender
0  Alsaba      F
1    Atif      M
2  Gafoor      M
3   Razia      F

In [11]:
#Working with missing data  #Checking for missing values using isnull() and notnull() :

# importing pandas as pd
import pandas as pd
 
# importing numpy as np
import numpy as np
 
# dictionary of lists
dict = {'First Score':[100, 90, np.nan, 95],
        'Second Score': [30, 45, 56, np.nan],
        'Third Score':[np.nan, 40, 80, 98]}
 
# creating a dataframe from list
df = pd.DataFrame(dict)
 
# using isnull() function  
df.isnull()

   First Score  Second Score  Third Score
0        False         False         True
1        False         False        False
2         True         False        False
3        False          True        False

In [ ]:
#Filling missing values using fillna(), replace() and interpolate() :

# importing pandas as pd
import pandas as pd
 
# importing numpy as np
import numpy as np
 
# dictionary of lists
dict = {'First Score':[100, 90, np.nan, 95],
        'Second Score': [30, 45, 56, np.nan],
        'Third Score':[np.nan, 40, 80, 98]}
 
# creating a dataframe from dictionary
df = pd.DataFrame(dict)
 
# filling missing value using fillna()  
df.fillna(0)

In [15]:
#Dropping missing values using dropna() :

# importing pandas as pd
import pandas as pd
 
# importing numpy as np
import numpy as np
 
# dictionary of lists
dict = {'First Score':[100, 90, np.nan, 95],
        'Second Score': [30, np.nan, 45, 56],
        'Third Score':[52, 40, 80, 98],
        'Fourth Score':[np.nan, np.nan, np.nan, 65]}
 
# creating a dataframe from dictionary
df = pd.DataFrame(dict)
   
print(df)

   First Score  Second Score  Third Score  Fourth Score
0        100.0          30.0           52           NaN
1         90.0           NaN           40           NaN
2          NaN          45.0           80           NaN
3         95.0          56.0           98          65.0

In [14]:
# using dropna() function  
print(df.dropna())

   First Score  Second Score  Third Score  Fourth Score
3         95.0          56.0           98          65.0

In [19]:
#creating a pandas series
import numpy as np
df=np.array(['a','j','f','b','p'])
ser=pd.Series(df)
print(ser)

0    a
1    j
2    f
3    b
4    p
dtype: object

In [20]:
# creating a pandas series using list

df=['w','e','o','p','b','q','t']
ser=pd.Series(df)
print(ser)

0    w
1    e
2    o
3    p
4    b
5    q
6    t
dtype: object

In [21]:
#Accessing Element from Series with Position

import pandas as pd
import numpy as np
 
# creating simple array
data = np.array(['g','e','e','k','s','f', 'o','r','g','e','e','k','s'])
ser = pd.Series(data)
  
  
#retrieve the first element
print(ser[:5])

0    g
1    e
2    e
3    k
4    s
dtype: object

In [22]:
#Accessing Element Using Label (index) :

import pandas as pd
import numpy as np
 
# creating simple array
data = np.array(['g','e','e','k','s','f', 'o','r','g','e','e','k','s'])
ser = pd.Series(data,index=[1,3,4,6,9,7,5,22,67,33,44,45,89])
print(ser)

1     g
3     e
4     e
6     k
9     s
7     f
5     o
22    r
67    g
33    e
44    e
45    k
89    s
dtype: object

In [24]:
print(ser[89])

s